{% extends 'game/base.html' %}

{% block content %}
<div class="container">
    <header class="header">
        <div class="condition">
            <div class="condition__inner1">
                <div><input type="text" id="cond1" name="cond1" value="あ"></div>
                <div class="blue-word">から始まる</div>
            </div>
            <div class="condition__inner2">
                <input type="text" id="cond2" name="cond2" value="？？？">
                <div class="blue-word">な言葉</div>
            </div>
            <div class="time">
                <input type="text" name="cond3" value="30">秒
            </div>

            <input type="button" class="buttonL" value="決定">
        </div>
    </header>

    <div class="label">9つの言葉で描こう</div>
    <div class="mainContents">
        <div class="wordsArea">
            <ul>
                {% for post in posts %}
                <li>
                    <form id="ajax-search-post{{ forloop.counter }}" class="ajax-search-post"
                        name="form{{ forloop.counter }}" action="{% url 'game:ajax_post_search' %}" method="POST">
                        {% csrf_token %}
                        {{ forloop.counter }} <input type="text" id="word{{ forloop.counter }}" class="word" required>
                        <input type="submit" name={{ forloop.counter }} value="GO{{ forloop.counter }}"
                            class="buttonGo">
                    </form>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="picturesArea">
            <ul class="pic__list">
                {% for post in posts %}
                <li class="pic__item" id="pic{{ post.no }}"><img class="thumbnail" src="{{ post.src }}" alt="Try Again">
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="buttonsArea">
            <button class="buttonL" id="startButton">START</button>
            <button class="buttonL" id="stopButton">STOP</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    // 送信ボタンで呼ばれる
    $('.ajax-search-post').on('submit', e => {
        // デフォルトのイベントをキャンセルし、ページ遷移しないように!
        e.preventDefault();
        $.ajax({
            'url': '{% url "game:ajax_post_search" %}',
            'type': 'POST',
            'data': {
                'word': e.target[1].value,  // 検索条件
            },
            'dataType': 'json'
        }).done(response => {
            // <p>はろー</p>のような要素を作成し、それを記事一覧エリアに追加し、入力欄をクリアする。
            const p = $('<p>', { text: response.src });
            $('#posts').prepend(p);
        });

    });
</script>
{% endblock %}
